streamlit>=1.31,<2.0
pandas>=2.1,<3.0
numpy>=1.26,<2.0
requests>=2.31,<3.0

altair>=5.2,<6.0

spacy>=3.7,<4.0
scispacy==0.5.5

https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_jnlpba_md-0.5.4.tar.gz